# OS system files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
dist/
build/

# Editor/IDE config
.vscode/
.idea/

# Env files (if later added)
.env
.env.local
.env.*.local
